@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

:root {
    --Very-dark-blue: hsl(233, 47%, 7%);
    --Dark-desaturated-blue: hsl(244, 38%, 16%);
    --Soft-violet: hsl(277, 64%, 61%);

    --White: hsl(0, 0%, 100%);
    --Slightly-transparent1: hsla(0, 0%, 100%, 0.75);
    --Slightly-transparent: hsla(0, 0%, 100%, 0.6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 10px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    background-color: var(--Very-dark-blue);
    color: var(--Slightly-transparent1);
}


.container {
    width: 800px;
    height: 370px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 7%;
    border-radius: 20px;
}

.container__img {
    width: 50%;
    height: 100%;
    
    background: linear-gradient(hsla(277, 64%, 61%, 0.61), hsla(277, 64%, 61%, 0.61)), url(images/image-header-desktop.jpg);
    object-fit: cover;
    background-size: cover;
    border-radius: 0 15px 15px 0;
}

.container__cuadro {
    background-color: var(--Dark-desaturated-blue);
    width: 400px;
    height: 100%;
    padding: 30px;
    border-radius: 15px 0 0 15px;
}

h1 {
    font-weight: 700px;
    color: var(--White);
}

h1 span {
    color: var(--Soft-violet);
    margin-top: 35px;
}

.container__parrafo {
    margin-top: 20px;
    margin-bottom: 15px;
}

.container__numeros {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 10%;

}

.container__numeros span {
    color: var(--White);
    font-weight: 700px;
    font-size: 18px;
}

.container__numeros samp {
    font-size: 12px;
}

